{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>Want a new password? Change it here!</h1>
    <form action="/changePassword" method="post">
        <div class="mt-5 mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="original" placeholder="Original Password" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
